<!doctype html>
<html lang="ko">

<%include ./include/head%>

<body>

<div class="wrap">

  <%include ./include/leftbox%>
  <div class="rightbox">

    <%include ./include/header%>

    <div class="content">


      <div class="card">
        <div class="title">
          <h5><%=LANG['LANG68']%></h5>
        </div>
        <div class="cont">
          <div class="noticetitle">
            <h4>공지사항공지사항</h4>
          </div>
          <div class="noticesubtitle">
            <p>2021.12.12 12:12:12 / 관리자1</p>
          </div>
          <div class="noticecont">
            공지사항공지사항
            공지사항공지사항
            공지사항공지사항
            공지사항공지사항
            공지사항공지사항
          </div>
          <div class="row">
            <a href="#" class="btn btn-primary btn-radius right mt-15"><%=LANG['LANG68']%></a>
          </div>

        </div>
      </div>






      <%include ./include/footer%>

    </div><!-- content end -->

  </div><!-- rightbox end -->


  </div>


  </body>


  </html>


  <script src="include/js/cur.js"></script>
