/************************************/
/* 기본설정
/************************************/
/*
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*
@import url(//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);
*/
/*
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
*/

input[type=text]::-ms-clear{display: none}



*{
	border:0;
	padding:0;
	margin:0;
	background:50% 50% no-repeat;
	text-decoration:none;
	color:inherit;
	box-sizing:border-box;
	font-weight:400;
}
:focus{outline:0}
b,b *,strong,strong *{font-weight:700}
li, dd {list-style-type: none;}

button,input,input:not([type]),input[type=color],input[type=text],input[type=time],input[type=url],input[type=week],input[type=button],input[type=reset],input[type=submit],input[type=date],input[type=datetime],input[type=datetime-local],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],pre,select,textarea{font:inherit}

html, body {
	width:100%;
	min-height:100vh;
}
.wrap {
	width:100%;
	min-height:100vh;
	margin:0 auto;
    overflow:hidden;
	position:relative;
}
.contents {
	width: 100%;
	max-width: 1200px;
	padding: 0 30px;
	margin:0 auto;
}
section {
  padding: 80px 0;
}

@media only screen and (max-width: 1400px) {
	.contents {
		max-width: 1200px;
	}
  section {
    padding: 80px 0;
  }
}
@media only screen and (max-width: 1200px) {
	.contents {
		max-width: 960px;
	}
  section {
    padding: 60px 0;
  }
}
@media only screen and (max-width: 600px) {
	.contents {
		padding: 0 20px;
	}
  section {
    padding: 30px 0;
  }
}
a {
  display: inline-block;
	cursor:pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
}
a:hover {
	transition: all 0.2s ease-out
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	appearance: none;
	-webkit-appearance: none;
}
.imgbox img {
	width: 100%;
}


/***************************** font ******************************/

/******************* 나눔고딕 ********************/

/*
html, body {
	font-family: 'Nanum Gothic', 'Roboto', sans-serif;
}
*{
	font-family: 'Nanum Gothic', 'Roboto', sans-serif;
}

/******************* 나눔스퀘어 ********************/
/*
html, body {
	font-family: 'Nanum Square', 'Roboto', sans-serif;
}
*{
	font-family: 'Nanum Square', 'Roboto', sans-serif;
}

/******************* 본고딕 ********************/

html, body {
	font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}
*{
	font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}


/***************************** font end ******************************/\

table  {
	border-collapse: collapse;
  border: 0;
  border-spacing: 0 0;
}
tr, th, td {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0 0;
}

input::placeholder {
  color: #a5a5a5;
}
input:read-only {
	background: #f1f1f1;
}
textarea::placeholder {
  color: #a5a5a5;
}


.mrow {
	margin: 0 -15px;
	width: calc(100% + 30px) !important;
}
.mrow > .w33p, .mrow > .w03p, .mrow > .w05p, .mrow > .w10p, .mrow > .w14p, .mrow > .w15p, .mrow > .w16p, .mrow > .w20p, .mrow > .w22p, .mrow > .w24p, .mrow > .w25p, .mrow > .w30p, .mrow > .w33p, .mrow > .w35p, .mrow > .w40p, .mrow > .w45p, .mrow > .w50p, .mrow > .w55p, .mrow > .w60p, .mrow > .w65p, .mrow > .w66p, .mrow > .w70p, .mrow > .w75p, .mrow > .w80p, .mrow > .w85p, .mrow > .w90p, .mrow > .w95p, .mrow > .w100p {
	padding: 0 15px;
}

@media only screen and (max-width: 600px) {
	.mrow {
		margin: 0 -10px;
		width: calc(100% + 20px) !important;
	}
	.mrow > .w33p, .mrow > .w03p, .mrow > .w05p, .mrow > .w10p, .mrow > .w14p, .mrow > .w15p, .mrow > .w16p, .mrow > .w20p, .mrow > .w22p, .mrow > .w24p, .mrow > .w25p, .mrow > .w30p, .mrow > .w33p, .mrow > .w35p, .mrow > .w40p, .mrow > .w45p, .mrow > .w50p, .mrow > .w55p, .mrow > .w60p, .mrow > .w65p, .mrow > .w66p, .mrow > .w70p, .mrow > .w75p, .mrow > .w80p, .mrow > .w85p, .mrow > .w90p, .mrow > .w95p, .mrow > .w100p {
		padding: 0 10px;
	}
}

@media only screen and (max-width: 350px) {
	.mrow {
		margin: 0 -8px;
		width: calc(100% + 16px) !important;
	}
	.mrow > .w33p, .mrow > .w03p, .mrow > .w05p, .mrow > .w10p, .mrow > .w14p, .mrow > .w15p, .mrow > .w16p, .mrow > .w20p, .mrow > .w22p, .mrow > .w24p, .mrow > .w25p, .mrow > .w30p, .mrow > .w33p, .mrow > .w35p, .mrow > .w40p, .mrow > .w45p, .mrow > .w50p, .mrow > .w55p, .mrow > .w60p, .mrow > .w65p, .mrow > .w66p, .mrow > .w70p, .mrow > .w75p, .mrow > .w80p, .mrow > .w85p, .mrow > .w90p, .mrow > .w95p, .mrow > .w100p {
		padding: 0 8px;
	}
}

/************************************/
/* 공통설정
/************************************/

.d-block {display: block;}
.d-none {display: none;}
.d-flex {display: flex;}
.break-word {word-break: break-word;}
.row {display: table; width:100%;}
.left {float:left !important;}
.right{float:right !important;}
.tx-l    {text-align:left !important;}
.tx-r   {text-align:right !important;}
.tx-c  {text-align:center !important;}

.w03p {width:3%;}
.w05p {width:5%;}
.w10p {width:10%;}
.w12p {width:12.5%;}
.w14p {width:14.28%;}
.w15p {width:15%;}
.w16p {width:16.66%;}
.w20p {width:20%;}
.w22p {width:22%;}
.w24p {width:24%;}
.w25p {width:25%;}
.w30p {width:30%;}
.w33p {width:33.33%;}
.w35p {width:35%;}
.w40p {width:40%;}
.w45p {width:45%;}
.w50p {width:50%;}
.w55p {width:55%;}
.w60p {width:60%;}
.w65p {width:65%;}
.w66p {width:66.66%;}
.w70p {width:70%;}
.w75p {width:75%;}
.w80p {width:80%;}
.w85p {width:85%;}
.w90p {width:90%;}
.w95p {width:95%;}
.w100p {width:100%;}

.br5px {border-radius:5px;}
.br10px {border-radius:10px;}
.br15px {border-radius:15px;}
.br20px {border-radius:20px;}
.br25px {border-radius:25px;}
.br30px {border-radius:30px;}

.br10p {border-radius:10%;}
.br20p {border-radius:20%;}
.br30p {border-radius:30%;}
.br40p {border-radius:40%;}
.br50p {border-radius:50%;}

.border0 {border:0px !important;}

.m-0 {margin:0px !important;}
.m-5 {margin:5px !important;}
.m-10 {margin:10px !important;}
.m-15 {margin:15px !important;}
.m-20 {margin:20px !important;}
.m-25 {margin:25px !important;}
.m-30 {margin:30px !important;}

.mr-0 {margin-right:0px !important;}
.mr-5 {margin-right:5px !important;}
.mr-10 {margin-right:10px !important;}
.mr-15 {margin-right:15px !important;}
.mr-20 {margin-right:20px !important;}
.mr-25 {margin-right:25px !important;}
.mr-30 {margin-right:30px !important;}

.ml-0 {margin-left:0px !important;}
.ml-5 {margin-left:5px !important;}
.ml-10 {margin-left:10px !important;}
.ml-15 {margin-left:15px !important;}
.ml-20 {margin-left:20px !important;}
.ml-25 {margin-left:25px !important;}
.ml-30 {margin-left:30px !important;}

.mt-0 {margin-top:0px !important;}
.mt-5 {margin-top:5px !important;}
.mt-10 {margin-top:10px !important;}
.mt-15 {margin-top:15px !important;}
.mt-20 {margin-top:20px !important;}
.mt-25 {margin-top:25px !important;}
.mt-30 {margin-top:30px !important;}
.mt-40 {margin-top:40px !important;}
.mt-50 {margin-top:50px !important;}

.mb-0 {margin-bottom:0px !important;}
.mb-5 {margin-bottom:5px !important;}
.mb-10 {margin-bottom:10px !important;}
.mb-15 {margin-bottom:15px !important;}
.mb-20 {margin-bottom:20px !important;}
.mb-25 {margin-bottom:25px !important;}
.mb-30 {margin-bottom:30px !important;}

.p-0 {padding:0px !important;}
.p-5 {padding:5px !important;}
.p-10 {padding:10px !important;}
.p-15 {padding:15px !important;}
.p-20 {padding:20px !important;}
.p-25 {padding:25px !important;}
.p-30 {padding:30px !important;}

.pr-0 {padding-right:0px !important;}
.pr-5 {padding-right:5px !important;}
.pr-10 {padding-right:10px !important;}
.pr-15 {padding-right:15px !important;}
.pr-20 {padding-right:20px !important;}
.pr-25 {padding-right:25px !important;}
.pr-30 {padding-right:30px !important;}

.pl-0 {padding-left:0px !important;}
.pl-5 {padding-left:5px !important;}
.pl-10 {padding-left:10px !important;}
.pl-15 {padding-left:15px !important;}
.pl-20 {padding-left:20px !important;}
.pl-25 {padding-left:25px !important;}
.pl-30 {padding-left:30px !important;}

.pt-0 {padding-top:0px !important;}
.pt-5 {padding-top:5px !important;}
.pt-10 {padding-top:10px !important;}
.pt-15 {padding-top:15px !important;}
.pt-20 {padding-top:20px !important;}
.pt-25 {padding-top:25px !important;}
.pt-30 {padding-top:30px !important;}

.pb-0 {padding-bottom:0px !important;}
.pb-5 {padding-bottom:5px !important;}
.pb-10 {padding-bottom:10px !important;}
.pb-15 {padding-bottom:15px !important;}
.pb-20 {padding-bottom:20px !important;}
.pb-25 {padding-bottom:25px !important;}
.pb-30 {padding-bottom:30px !important;}
.pb-35 {padding-bottom:35px !important;}
.pb-40 {padding-bottom:40px !important;}

.tx-12 {font-size:12px !important;}
.tx-14 {font-size:14px !important;}
.tx-bold {
  font-weight: bold;
}
.tx-small {
  font-size: 0.85em;
}
.tx-xsmall {
	font-size: 0.75em;
}
.tx-xxsmall {
	font-size: 0.65em;
}
.tx-upper {
	text-transform : uppercase;
}

.tx-w {
  color: #ffffff;
}
.tx-g {
	color: #959595;
}
.tx-darkg {
	color: #454545;
}
.tx-red {
	color: #c21818;
}
.tx-primary {
	color: #20208c;
}

.btn {
	padding: 0.8em 1em;
	overflow:hidden;
	font-size:0.95em;
	cursor:pointer;
	transition: all 300ms ease-out 0s;
	text-align: center;
	text-transform : capitalize;
}
.btn-s {
	padding: 0.4em 0.8em;
	font-size:0.8em;
}
.btn-xs {
	padding:2px 5px;
	font-size:12px;
}
.btn-l {
	padding: 1em 1.2em;
	font-size:1em;
}
.btn-xl {
	padding: 1.2em 1.4em;
	font-size:1.1em;
}


.btn-block {
	display: block;
}

@media only screen and (max-width: 600px) {
  /* .btn {
  	padding: 0.6em 0.8em;
  	font-size:0.9em;
  }
	.btn-s {
		padding: 0.4em 0.6em;
		font-size:0.8em;
	}
	.btn-xs {
		padding:2px 5px;
		font-size:12px;
	}
	.btn-l {
		padding: 0.8em 1em;
		font-size:0.9em;
	}
	.btn-xl {
		padding: 1em 1.2em;
		font-size:1.1em;
	} */
}

.btn-radius {
	border-radius: 10px;
}

.btn-primary {
  background: #02528E;
  color: #ffffff;
}
.btn-grey {
  background: #565656;
  color: #ffffff;
}
.btn-lightgrey {
	background: #959595;
  color: #ffffff;
}
.btn-red {
  background: #c21818;
  color: #ffffff;
}
.btn-blue {
  background: #20208c;
  color: #ffffff;
}
.btn-white {
	border: 1px solid #02528E;
  color: #02528E;
}
